# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# 가상환경
venv/
.venv/
env/

# 환경변수
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# 기타
.sample